.list {
  border-top: 1px solid #ccc;
}

.listItem {
  align-items: center;
  background-color: #f4f5f6;
  display: flex;
  padding: 10px;
}

.avatar {
  border-radius: 50px;
  height: 40px;
  margin-left: auto;
  width: 40px;
}